*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body,html{
    width: 100%;
    height: 100%;  
}
#main{
    width: 100%;

}
#page1{
    width: 100%;
    height: 100vh;
    background-color: black;
    overflow: hidden;
}
#page1 h1{
    padding: 20px 0;
    font-size: 20vw;
    color: white;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    white-space: nowrap;
    
}
#loader{
    height: 100vh;
    width: 100%;
    position: fixed;
    background-color: rgb(214, 214, 214);
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
}
#loader{
    font-family: 'Oswald', sans-serif;
    font-weight: 200;
    font-size: 21px;
}

